.gitignore
*~
*.pyc
Makefile
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
freespeak.desktop
freespeak.schemas
freespeak/defs.py
gnome-doc-utils.make
help/freespeak-C.omf
install-sh
libtool
ltmain.sh
m4/gnome-doc-utils.m4
m4/intltool.m4
missing
mkinstalldirs
po/.intltool-merge-cache
po/Makefile.in.in
POTFILES
*.gmo
stamp-it
py-compile
